 <section class="section" id="about-me">
    <div class="container design-dots">
      <h2 class="header-second about-me-title">
        ABOUT <span class="about-me-title-span">ME</span>
      </h2>
      <div class="about-box">
        <div class="image-about-me">
          <img
            class="about-me-img"
            src="./img/about-me/about-me-mobile.jpg"
            srcset="./img/about-me/about-me-mobile@2x.jpg 2x"
            alt="Lloyd Jefferson's portrait"
            width="320"
            height="374"
          />
        </div>
        <div class="bio-about-me">
        <h3 class="header-third bio-title">BIO</h3>
        <div class="bio-about-me-text">
          <p class="body-text-light">
            I'm Lloyd Jefferson, a talented programmer specializing in software
            development. My expertise spans various programming languages and
            technologies, and I am dedicated to continually enhancing my skills.
            I thrive on seeking unconventional and creative solutions to
            problems, leveraging a high level of analytical skills to
            effectively tackle even the most challenging tasks.
          </p>
          <p class="body-text-light">
            Adaptable to both independent and team-oriented work, I collaborate
            seamlessly with colleagues, exchanging ideas and finding optimal
            solutions. My professional maturity enables me to navigate
            challenges and stressful situations with a calm demeanor,
            maintaining a consistently high quality of work. Committed to
            self-improvement, I actively engage in studying new technologies and
            practices to stay current with the latest innovations in the field.
          </p>
        </div>
        </div>
        </div>
      <div class="green-dots"></div>
      <div class="info-columns">
        <div class="education-about-me">
          <h3 class="header-third">EDUCATION</h3>
          <ul class="about-me-list">
            <li class="body-text-light">
              2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
              York
            </li>
            <li class="body-text-light">
              2019 - 2020 / Advanced Web Development Certificate, GoIT IT
              School, New York
            </li>
            <li class="body-text-light">
              2020 - 2022 / Advanced Blender Animation Techniques, Udemy
            </li>
          </ul>
        </div>
        <div class="role-about-me">
          <h3 class="header-third">ROLE</h3>
          <ul class="about-me-list">
            <li class="body-text-light">Frontend development</li>
            <li class="body-text-light">HeadlessCMS, Wordpress</li>
            <li class="body-text-light">Blender (enjoy)</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</html>
