
<section class="section faq">
        <div class="container faq_container">
        <div class="faq_title_container">
        <h1 class="faq_title header-first">FREQUENTLY ASKED  <span class="faq_title_question color-accent-green ">QUESTION</span></h1>
        </div>

        <div class="decor_bg"></div>

        <div class="acc_container">
        <ul class="accordion_list">
            <li class="accordion_item open">
            <div class="accordion_header">
                <h2 class="accordion_header_text caption">What programming languages ​​are most often used in your project?</h2>
                <button class="accordion_btn" >
                  <svg width="24" height="24" >
                    <use href="../src/img/icon/icons.svg#icon-dropdown"></use>
                  </svg>                   
                </button>
                  
            </div>

            <div class="answer">
                <p class="accordion_text body-text-light">In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
            </div>
            </li>

            <li class="accordion_item">
            <div class="accordion_header">
                <h2 class="accordion_header_text caption">What are the deadlines for the project?</h2>
                <button class="accordion_btn" >
                  <svg width="24" height="24" >
                    <use href="../src/img/icon/icons.svg#icon-dropdown"></use>
                  </svg>                    
                </button>
            </div>

            <div class="answer"> 
                <p class="accordion_text body-text-light">The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>
            </div>
            </li>

            <li class="accordion_item">
            <div class="accordion_header">
                <h2 class="accordion_header_text caption">What payment methods do you accept?</h2>
                <button class="accordion_btn">
                    <svg width="24" height="24" >
                        <use href="../src/img/icon/icons.svg#icon-dropdown"></use>
                      </svg>  

                </button>
            </div>

            <div class="answer">
                <p class="accordion_text body-text-light">Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
            </div>
            </li>

            <li class="accordion_item">
            <div class="accordion_header">
                <h2 class="accordion_header_text caption">How can I contact you?</h2>
                <button class="accordion_btn">
                    <svg width="24" height="24" >
                        <use href="../src/img/icon/icons.svg#icon-dropdown"></use>
                      </svg>  

                </button>
            </div>

            <div class="answer">
                <p class="accordion_text body-text-light">In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
            </div>
            </li>

            <li class="accordion_item">
            <div class="accordion_header">
                <h2 class="accordion_header_text caption">Do you provide advice or support?</h2>
                <button class="accordion_btn">
                    <svg width="24" height="24" >
                        <use href="../src/img/icon/icons.svg#icon-dropdown"></use>
                      </svg>  

                </button>
            </div>

            <div class="answer">
                <p class="accordion_text body-text-light">The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>
            </div>
            </li>

            <li class="accordion_item">
            <div class="accordion_header">
                <h2 class="accordion_header_text caption">What does the process of developing a software product look like from idea to implementation?</h2>
                <button class="accordion_btn" >
                    <svg width="24" height="24" >
                        <use href="../src/img/icon/icons.svg#icon-dropdown"></use>
                      </svg>  

                </button>
            </div>

            <div class="answer">
                <p class="accordion_text body-text-light">Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
            </div>
            </li>
        </ul>
       </div>
    </div>
    </section>
