<section class="footer">
 <div class="container">
    <div class="ft-content">
        <p class="ft-logo">
            LLOYD<span class="color-accent-green">JEFFERSON.</span>
        </p>
     <ul class="ft-social">
        <li>
            <a class="body-text-light" href="https://www.instagram.com/goitclub/">Instagram</a>
        </li>
        <li>
            <a class="body-text-light" href="https://www.facebook.com/goITclub/">Facebook</a>
        </li>
        <li>
            <a class="body-text-light" href="https://www.linkedin.com/school/goit-start-your-career-in-it ">Linkedin</a>
        </li>
        <li>
            <a class="body-text-light" href="https://kost-prog.github.io/masakryczne-slimaki/">GitHub</a>
        </li>
     </ul>
    <div class="ft-last">
        <p class="body-text-light">© Copyright 2024. Made by LloydJefferson</p>
    </div>
     
 </div>
 </div>
</section>


