<section class="footer">
  <div class="container">
    <div class="ft-content">
      <a href="./index.html">
        <h2 class="ft-logo">
          LLOYD<span class="color-accent-green">JEFFERSON.</span>
        </h2>
      </a>

      <ul class="ft-social">
        <li>
          <a
            class="body-text-light ft-social-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            >Instagram</a
          >
        </li>
        <li>
          <a
            class="body-text-light ft-social-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            >Facebook</a
          >
        </li>
        <li>
          <a
            class="body-text-light ft-social-link"
            href="https://www.linkedin.com/school/goit-start-your-career-in-it "
            target="_blank"
            >Linkedin</a
          >
        </li>
        <li>
          <a
            class="body-text-light ft-social-link"
            href="https://kost-prog.github.io/masakryczne-slimaki/"
            target="_blank"
            >GitHub</a
          >
        </li>
      </ul>
    </div>
    <p class="body-text-light ft-last">
      © Copyright 2024. Made by LloydJefferson
    </p>
  </div>
</section>
