
<!-- ---------HEADER--------- -->

<header class="header">
<!-- <div class="container"> -->
    <div class="logo">LLOYD<span>JEFERSON.</span></div>


<nav class="nav-header" id="nav-header-menu">
    <ul>
        <li><a href="#about">About me</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contacts">Contacts</a></li>
    </ul>
</nav>



<div class="burger" id="burger">
    <span></span>
    <span></span>
    <span></span>
</div>
<!-- </div> -->
</header>


<!-- ---------HERO--------- -->


<section class="hero" id="hero">
    <div class="container">
        <h1>HELLO, I AM <span>FULLSTACK DEVELOPER</span></h1>
        <a>order the product</a>
        <p>I work with people all over the world to create <span>impressive</span> and <span>functional websites</span> that reflect each client’s unique
        personality.</p>
    </div>
    <nav>
        <ul>
            <li><a href="">Instagram</a></li>
            <li><a href="">Facebook</a></li>
            <li><a href="">Linkedin</a></li>
            <li><a href="">GitHub</a></li>
        </ul>
    </nav>
</section>