

<header class="header section">
    <div class="container header-container">
        <a href="#" class="logo header-third">
            LLOYD<span class="color-accent-green">JEFFERSON.</span>
        </a>

        <nav class="nav-header">
            <ul>
                <li><a href="#">About me</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Contacts</a></li>
            </ul>
        </nav>

        <div class="burger" id="burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</header>