<header class="header section">
  <div class="container header-container">
    <a href="/src/index.html" class="logo header-third">
      LLOYD<span class="color-accent-green">JEFFERSON.</span>
    </a>
        <nav class="nav-header body-text-medium">
            <ul>
               <li>
                  <label id="switch" class="switch">
                  <input type="checkbox" id="slider" />
                  <span class="slider round"></span>
                  </label>
               </li>
                <li><a href="#about" class="body-text-light">About me</a></li>
                <li><a href="#my-projects" class="body-text-light">Projects</a></li>
                <li><a href="#work-together" class="body-text-light">Contacts</a></li>
            </ul>
        </nav>

    <div class="burger" id="burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>
