


<section class="hero section">
    <div class="container">
        <h1 class="header-first">
            HELLO, I AM<br />
            <span class="color-accent-green">FULLSTACK DEVELOPER</span>
        </h1>

        <div class="hero-link-wrapper">
            <div class="hero-link-bg"></div>
            <a href="#" class="hero-link">
                <span class="arrow">→</span> ORDER THE PROJECT
            </a>
        </div>

        <p class="caption hero-description">
            I work with people all over the world to create
            <span class="color-accent-green">impressive</span> and
            <span class="color-accent-green">functional websites</span> that reflect each client’s unique personality.
        </p>
    </div>
        <div class="hero-social-link">
          <div class="container">
            <ul>
                <li><a href="#" class="hero-social">Instagram</a></li>
                <li><a href="#" class="hero-social">Facebook</a></li>
                <li><a href="#" class="hero-social">Linkedin</a></li>
                <li><a href="#" class="hero-social">GitHub</a></li>
            </ul>
          </div>
        </div>
    </div>
</section>