


<section class="hero" id="hero">
    <div class="container">
        <h1 class="hero-title">HELLO,I AM<br>
            <span>FULLSTACK DEVELOPER</span></h1>
        <div class="hero-link-wrapper">
            <div class="hero-link-bg"></div>
            <a href="#" class="hero-link">
                <span class="arrow">→</span> ORDER THE PROJECT
            </a>
        </div>



        <p class="hero-description">I work with people all over the world to create <span>impressive</span> and
            <span>functional websites</span> that reflect each client’s unique
            personality.</p>
    </div>
    <div class="hero-social-link">
        <ul>
            <li><a href="https://www.instagram.com/goitclub/">Instagram</a></li>
            <li><a href="https://www.facebook.com/goITclub/">Facebook</a></li>
            <li><a href="https://www.linkedin.com/school/goit-start-your-career-in-it">Linkedin</a></li>
            <li><a href="">GitHub</a></li>
        </ul>
    </div>
    
</section>