<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <section class="section pj-section">
      <div class="container projects-container">
        <h2 class="header-second pj-header">
          my <span class="color-accent-green">projects</span>
        </h2>
        <ul class="projects-list js-projects-list">
          <li>
            <div class="pj-item-cont">
              <div class="image-cont">
                <img
                  src="../img/projects/wallet-webservice.jpg"
                  alt="Wallet webservice"
                  srcset="../img/projects/wallet-webservice@2x.jpg 2x"
                />
              </div>
              <div>
                <p class="body-text-light tech-text">
                  React, JavaScript, Node JS, Git
                </p>
                <div class="site-cont">
                  <h3 class="header-third">Wallet webservice</h3>
                  <button class="body-text-medium" type="button">
                    VISIT
                    <div class="visit-arrow">
                      <svg width="18" height="18">
                        <use href="../img/icon/icons.svg#icon-visit-icon"></use>
                      </svg>
                    </div>
                    <a
                      href="https://github.com/Kost-prog/masakryczne-slimaki"
                      target="_blank"
                    ></a>
                  </button>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="pj-item-cont">
              <div class="image-cont">
                <img
                  src="../img/projects/green-harvest.jpg"
                  alt="Green harvest webservice"
                  srcset="../img/projects/green-harvest@2x.jpg 2x"
                />
              </div>
              <div>
                <p class="body-text-light tech-text">
                  React, JavaScript, Node JS, Git
                </p>
                <div class="site-cont">
                  <h3 class="header-third">Green harvest webservice</h3>
                  <button class="body-text-medium">
                    VISIT
                    <div class="visit-arrow">
                      <svg width="18" height="18">
                        <use href="../img/icon/icons.svg#icon-visit-icon"></use>
                      </svg>
                    </div>
                    <a
                      href="https://github.com/Kost-prog/masakryczne-slimaki"
                      target="_blank"
                    ></a>
                  </button>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="pj-item-cont">
              <div class="image-cont">
                <img
                  src="../img/projects/english-excellence.jpg"
                  alt="English Exellence website"
                  srcset="../img/projects/english-excellence@2x.jpg 2x"
                />
              </div>
              <div>
                <p class="body-text-light tech-text">
                  React, JavaScript, Node JS, Git
                </p>
                <div class="site-cont">
                  <h3 class="header-third">English Exellence website</h3>
                  <button class="body-text-medium">
                    VISIT
                    <div class="visit-arrow">
                      <svg width="18" height="18">
                        <use href="../img/icon/icons.svg#icon-visit-icon"></use>
                      </svg>
                    </div>
                    <a
                      href="https://github.com/Kost-prog/masakryczne-slimaki"
                      target="_blank"
                    ></a>
                  </button>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <button class="caption load-more-btn">Load More</button>
    </section>
  </body>
</html>
