<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <section class="section pj-section">
      <div class="container projects-container">
        <h2 class="header-second pj-header">
          my <span class="color-accent-green">projects</span>
        </h2>
        <ul class="projects-list js-projects-list"></ul>
      </div>
      <button class="caption load-more-btn">Load More</button>
    </section>
  </body>
</html>
