<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <section class="section">
      <div class="container projects-container">
        <h2 class="header-second pj-header">
          my <span class="color-accent-green">projects</span>
        </h2>
        <ul class="projects-list js-projects-list">
          <li>
            <div class="pj-item-cont">
              <div class="image-cont">
                <img
                  src="../img/projects/wallet-webservice.jpg"
                  alt="Wallet webservice"
                />
              </div>
              <div>
                <p class="body-text-light tech-text">
                  React, JavaScript, Node JS, Git
                </p>
                <div class="site-cont">
                  <h3 class="header-third">Wallet webservice</h3>
                  <button class="body-text-medium">
                    VISIT
                    <div class="visit-arrow">
                      <svg width="18" height="18">
                        <use href="../img/icon/icons.svg#icon-visit-icon"></use>
                      </svg>
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="pj-item-cont">
              <div class="image-cont">
                <img
                  src="../img/projects/green-harvest.jpg"
                  alt="Green harvest webservice"
                />
              </div>
              <div>
                <p class="body-text-light tech-text">
                  React, JavaScript, Node JS, Git
                </p>
                <div class="site-cont">
                  <h3 class="header-third">Green harvest webservice</h3>
                  <button class="body-text-medium">
                    VISIT
                    <div class="visit-arrow">
                      <svg width="18" height="18">
                        <use href="../img/icon/icons.svg#icon-visit-icon"></use>
                      </svg>
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="pj-item-cont">
              <div class="image-cont">
                <img
                  src="../img/projects/english-excellence.jpg"
                  alt="English Exellence website"
                />
              </div>
              <div>
                <p class="body-text-light tech-text">
                  React, JavaScript, Node JS, Git
                </p>
                <div class="site-cont">
                  <h3 class="header-third">English Exellence website</h3>
                  <button class="body-text-medium">
                    VISIT
                    <div class="visit-arrow">
                      <svg width="18" height="18">
                        <use href="../img/icon/icons.svg#icon-visit-icon"></use>
                      </svg>
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <button class="caption load-more-btn">
        Load More
        <svg
          width="107"
          height="2"
          viewBox="0 0 107 2"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1 0C0.447715 -4.82823e-08 4.82823e-08 0.447715 0 1C-4.82823e-08 1.55228 0.447715 2 1 2L1 0ZM1 2L107 2.00001L107 9.26682e-06L1 0L1 2Z"
            fill="#00B068"
          />
        </svg>
      </button>
    </section>
  </body>
</html>
