<section class="reviews-section section">
  <div class="container">
    <h2 class="header-second" style="text-align: center">REVIEWS</h2>

    <div class="swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <p class="body-text-light">
            Work with was extraordinary! He turned out to be a very competent
            and responsible specialist. The projects were completed on time and
            the result exceeded my expectations
          </p>
          <div class="reviewer">
            <img
              class="reviewer-avatar"
              src="../img/reviews/natalia-shevchenko.png"
              srcset="
                ../img/reviews/natalia-shevchenko.png    1x,
                ../img/reviews/natalia-shevchenko@2x.png 2x
              "
              alt="Natalia Shevchenko"
            />
            <p class="reviewer-name">Natalia Shevchenko</p>
          </div>
        </li>

        <li class="swiper-slide">
          <p class="body-text-light">
            I have the honor to recommend him as an exceptional professional in
            his field. His knowledge and expertise are undeniable. Cooperation
            with him always brings impressive results.
          </p>
          <div class="reviewer">
            <img
              class="reviewer-avatar"
              src="../img/reviews/dmytro-nazarenko.png"
              srcset="
                ../img/reviews/dmytro-nazarenko.png    1x,
                ../img/reviews/dmytro-nazarenko@2x.png 2x
              "
              alt="Dmytro Nazarenko"
            />
            <p class="reviewer-name">Natalia Shevchenko</p>
          </div>
        </li>
      </ul>
    </div>

    <div class="navigation-buttons">
      <div class="nav-button prev-button" id="prev-button">
        <svg class="icon-arrow" width="24" height="24">
          <use href="./img/icon/icons.svg#icon-arrow-left"></use>
        </svg>
      </div>

      <div class="nav-button next-button" id="next-button">
        <svg class="icon-arrow" width="24" height="24">
          <use href="./img/icon/icons.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
