<section class="reviews-section section">
  <div class="container">
    <h2 class="header-second" style="text-align: center">REVIEWS</h2>

    <div class="swiper">
      <ul class="swiper-wrapper"></ul>
    </div>
    <div class="navigation-buttons">
      <div class="nav-button prev-button" id="prev-button">
        <svg class="icon-arrow" width="24" height="24">
          <use href="./img/icon/icons.svg#icon-arrow-left"></use>
        </svg>
      </div>

      <div class="nav-button next-button" id="next-button">
        <svg class="icon-arrow" width="24" height="24">
          <use href="./img/icon/icons.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
