<section class ="section-tech-skills">
<h2 class="visually-hidden">Tech skills</h2>
  
  <div class="marquee-container top">
    <div class="marquee marquee-top">
      <div class="item">HTML/CSS</div><div class="dot green"></div>
      <div class="item">JAVASCRIPT</div><div class="dot green"></div>
      <div class="item">REACT</div><div class="dot green"></div>
      <div class="item">NODE. JS</div><div class="dot green"></div>
      <div class="item">REACT NATIVE</div><div class="dot green"></div>
      <div class="item">TYPESCRIPT</div><div class="dot green"></div>

      <div class="item">HTML/CSS</div><div class="dot green"></div>
      <div class="item">JAVASCRIPT</div><div class="dot green"></div>
      <div class="item">REACT</div><div class="dot green"></div>
      <div class="item">NODE. JS</div><div class="dot green"></div>
      <div class="item">REACT NATIVE</div><div class="dot green"></div>
      <div class="item">TYPESCRIPT</div>
    </div>
  </div>

  
  <div class="marquee-container bottom angled">
    <div class="marquee marquee-bottom">
      <div class="item item-bottom">HTML/CSS</div><div class="dot black"></div>
      <div class="item item-bottom">JAVASCRIPT</div><div class="dot black"></div>
      <div class="item item-bottom">REACT</div><div class="dot black"></div>
      <div class="item item-bottom">NODE. JS</div><div class="dot black"></div>
      <div class="item item-bottom">REACT NATIVE</div><div class="dot black"></div>
      <div class="item item-bottom">TYPESCRIPT</div><div class="dot black"></div>

      <div class="item item-bottom">HTML/CSS</div><div class="dot black"></div>
      <div class="item item-bottom">JAVASCRIPT</div><div class="dot black"></div>
      <div class="item item-bottom">REACT</div><div class="dot black"></div>
      <div class="item item-bottom">NODE. JS</div><div class="dot black"></div>
      <div class="item item-bottom">REACT NATIVE</div><div class="dot black"></div>
      <div class="item item-bottom">TYPESCRIPT</div>
    </div>
  </div>
</section>