<section class="section tech-skills">
    <h2 class="visually-hidden">Tech skills</h2>

    <div class="marquee-container top">
      <ul class="marquee marquee-top marquee-line">
        <li class="item">HTML/CSS</li>
        <li class="dot green"></li>
        <li class="item">JAVASCRIPT</li>
        <li class="dot green"></li>
        <li class="item">REACT</li>
        <li class="dot green"></li>
        <li class="item">NODE. JS</li>
        <li class="dot green"></li>
        <li class="item">REACT NATIVE</li>
        <li class="dot green"></li>
        <li class="item">TYPESCRIPT</li>
        <li class="dot green"></li>

        <li class="item">HTML/CSS</li>
        <li class="dot green"></li>
        <li class="item">JAVASCRIPT</li>
        <li class="dot green"></li>
        <li class="item">REACT</li>
        <li class="dot green"></li>
        <li class="item">NODE. JS</li>
        <li class="dot green"></li>
        <li class="item">REACT NATIVE</li>
        <li class="dot green"></li>
        <li class="item">TYPESCRIPT</li>
      </ul>
    </div>

    <div class="marquee-container bottom angled">
      <ul class="marquee marquee-bottom marquee-line">
        <li class="item item-bottom">HTML/CSS</li>
        <li class="dot black"></li>
        <li class="item item-bottom">JAVASCRIPT</li>
        <li class="dot black"></li>
        <li class="item item-bottom">REACT</li>
        <li class="dot black"></li>
        <li class="item item-bottom">NODE. JS</li>
        <li class="dot black"></li>
        <li class="item item-bottom">REACT NATIVE</li>
        <li class="dot black"></li>
        <li class="item item-bottom">TYPESCRIPT</li>
        <li class="dot black"></li>

        <li class="item item-bottom">HTML/CSS</li>
        <li class="dot black"></li>
        <li class="item item-bottom">JAVASCRIPT</li>
        <li class="dot black"></li>
        <li class="item item-bottom">REACT</li>
        <li class="dot black"></li>
        <li class="item item-bottom">NODE. JS</li>
        <li class="dot black"></li>
        <li class="item item-bottom">REACT NATIVE</li>
        <li class="dot black"></li>
        <li class="item item-bottom">TYPESCRIPT</li>
      </ul>
    </div>
  </section>
</div>
