<section class="section work-together">
  <div class="wt_decor-bg"></div>
  <div class="container">
    <h2 class="header-second">
      let's <span class="color-accent-green">work together</span>
    </h2>

    <div class="wt_content">
      <div class="wt_contact_me">
        <p class="caption" style="max-width: 488px">
          Contact me to transform your ideas into exceptional solutions.
        </p>

        <ul class="wt_contact_list">
          <li class="wt_contact_item">
            <svg class="wt-svg" width="24px" height="24px">
              <use href="./img/icon/icons.svg#icon-phone"></use>
            </svg>
            <a class="body-text-light" href="tel:+380904567890"
              >+38 090 456 78 90</a
            >
          </li>
          <li class="wt_contact_item">
            <svg class="wt-svg" width="24px" height="24px">
              <use href="./img/icon/icons.svg#icon-message"></use>
            </svg>
            <a class="body-text-light" href="mailto:lloydjefferson@gmail.com"
              >lloydjefferson@gmail.com</a
            >
          </li>
          <li class="wt_contact_item">
            <svg class="wt-svg" width="24px" height="24px">
              <use href="./img/icon/icons.svg#icon-mark"></use>
            </svg>
            <address class="body-text-light" style="font-style: normal">
              USA, New York
            </address>
          </li>
        </ul>
      </div>

      <form class="wt_form">
        <input
          class="input_email body-text-light"
          type="email"
          placeholder="Your email*"
        />
        <textarea
          class="input_message body-text-light"
          type="text"
          placeholder="Message"
        ></textarea>
        <button class="wt_sbm_btn body-text-medium" type="submit">
          SEND MESSAGE
        </button>
      </form>
    </div>
  </div>
</section>
