@font-face {
  font-family: "Impact";
  src: url('../fonts/impact.ttf') format('truetype');
    font-weight: normal;

  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  

  
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
:root {
  --font-family: 'Poppins', sans-serif;
  --black: #292929;
  --accet-green: #00B068;
  --white: #F0F0F0;
  --lightgrey: #E4E5E6;
  --light-accet: #BCDFD1;
  --hover-green: #009156;
  --error: #E74A3B;
  --hover-grey: #BBBBBB;
  --black-dt: #1E2023;
  --accet-green-dt: #14C57C;
  --white-dt: #F0F0F0;
  --charcoal-dt: #2A2D32;
  --dark-accet-dt: #204136;
  --hover-dt: #009156;
  --hover-harcoal-dt: #3B3F45;
  }

body {
  font-family: "Impact", "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}
