@font-face {
  font-family: 'Impact';
  src: url('../fonts/impact.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-family-primary: 'Poppins', sans-serif;
  --font-family-impact: 'Impact', sans-serif;

  --black: #292929;
  --accent-green: #00b068;
  --white: #f0f0f0;
  --lightgrey: #e4e5e6;
  --light-accent: #bcdfd1;
  --hover-green: #009156;
  --error: #e74a3b;
  --hover-grey: #bbbbbb;

  --bold: 700;
  --medium: 500;
}

body {
  font-family: var(--font-family-primary);
  color: var(--black);
  background-color: var(--white);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

.header-first {
  font-family: var(--font-family-impact);
  font-size: 136px;
  font-weight: normal;
  letter-spacing: 1.8px;
  line-height: 156px;
  color: var(--black);
  text-transform: uppercase;
}

.header-second {
  font-family: var(--font-family-impact);
  font-size: 108px;
  font-weight: normal;
  letter-spacing: 1.8px;
  line-height: 124px;
  color: var(--black);
  text-transform: uppercase;
}

.header-third {
  font-family: var(--font-family-primary);
  font-weight: var(--medium);
  font-size: 36px;
  letter-spacing: 0.5px;
  line-height: 48px;
  color: var(--black);
  text-transform: uppercase;
}

.body-text-light {
  font-family: var(--font-family-primary);
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 24px;
  color: var(--black);
}

.body-text-medium {
  font-family: var(--font-family-primary);
  font-weight: var(--medium);
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 24px;
  color: var(--black);
}

.caption {
  font-family: var(--font-family-primary);
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 32px;
  color: var(--black);
}

@media (max-width: 767px) {
  .header-first {
    font-size: 64px;
    line-height: 80px;
  }

  .header-second {
    font-size: 52px;
    line-height: 64px;
  }

  .header-third {
    font-size: 32px;
    line-height: 40px;
  }

  .body-text-light,
  .body-text-medium {
    font-size: 16px;
    line-height: 24px;
  }

  .caption {
    font-size: 18px;
    line-height: 28px;
  }
}

.color-black {
  color: var(--black);
}

.color-accent-green {
  color: var(--accent-green);
}

.color-lightgrey {
  color: var(--lightgrey);
}

.color-light-accent {
  color: var(--light-accent);
}

.color-hover-green {
  color: var(--hover-green);
}

.color-error {
  color: var(--error);
}

.color-hover-grey {
  color: var(--hover-grey);
}
