.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.faq_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  height: auto;
}

.accordion_list {
  width: 320px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.faq_title_container {
  width: 320px;
  margin-bottom: 40px;
}

.accordion_item {
  background-color: transparent;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 28px 24px;
  border-bottom: 1px solid #e4e5e6;
}

.accordion_item:first-child {
  border-top: 1px solid #e4e5e6;
}

.accordion_item.open {
  background-color: #bcdfd1;
  border-radius: 16px;
  padding: 28px 24px;
  border-top: none;
  width: 320px;
  gap: 24px;

}
.theme-dark .accordion_item.open {
  background-color: #204136;
}

.accordion_header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.accordion_item.open .accordion_header_text {
  margin-left: 0;
}

.accordion_item.open .answer {
  overflow: visible;
  max-height: none;
  opacity: 1;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
}

.accordion_btn {
  height: 24px;
  border: none;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
}
.theme-dark .accordion_btn svg {
  stroke: #f0f0f0;
}

.accordion_btn {
  margin: 0;
  transition: transform 0.3s ease;
}

.accordion_item.open .accordion_btn {
  transform: rotate(180deg);
}

.accordion_header_text {
  text-transform: uppercase;
  width: 224px;
}

@media (min-width: 768px) {
  .faq_title_container {
    width: 704px;
    margin-bottom: 60px;
  }

  .accordion_list {
    width: 704px;
  }

  .accordion_item.open {
    width: 100%;
  }

  .accordion_text {
    width: 100%;
  }

  .accordion_header_text {
    width: 600px;
  }
}


@media (min-width: 1280px) {
  .decor_bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 526px;
    height: 408px;
    background-image: url(../img/background/desktop-decor-bg-4.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
  }

  .faq {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 80px 20px;
    position: relative;
  }

  .faq_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    align-items: flex-start;
    gap: 98px;
    position: relative;
    height: auto;
    min-height: 91vh;
  }

  .faq_title_container {
    width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .accordion_list {
    width: 592px;
  }

  .acc_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 388px;
  }

  .accordion_item.open {
    max-height:min-content;
  }
}
