.faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    } 
    .faq_title {
    /* font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 64px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #292929; */
    /* width: 192px;
    text-align: left; */
    }
    
    .faq_title_question {
    color: #00B068;
    }
  
    .accordion_list {
      width: 272px;
      padding: 0;
      margin: 0;
      list-style: none;
    }
    
    .faq_title_container {
    width: 320px;
    margin-bottom: 40px;
    } 
    
    .accordion_item {
    background-color: transparent;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 28px 24px;
    border-bottom: 1px solid #E4E5E6;
    }

    .accordion_item:first-child {
        border-top: 1px solid #E4E5E6;
    }

    .accordion_item.open {
        background-color: #BCDFD1;
        border-radius: 16px;
        padding: 28px 24px;
        border-top: none;
        width: 272px;
        gap: 24px;
    }
    
    .accordion_header {
    width: 100%; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }


    .accordion_item.open .accordion_header_text {
        margin-left: 0;
    }
    
    .accordion_item.open .answer {
        overflow: visible;
        max-height: none;
    }

  .answer {
        max-height: 0;
        overflow: hidden;
        /* transition: max-height 0.3s ease, padding 0.3s ease; */
    }
   
  
    .accordion_btn {
      height: 24px;
      border: none;
      background-color: transparent;
      /* display: flex;
      flex-direction: row;
      /* align-items: center; 
      justify-content: space-between; */
      /* width: 100%; */
      text-align: left;
      /* margin-top: 28px; */
      /* padding: 20px 0;   */
      cursor: pointer;
    }

    .accordion_btn {
        margin: 0;
        transition: transform 0.3s ease;
    }

    .accordion_item.open .accordion_btn {
        transform: rotate(180deg);
    }
    
    .accordion_header_text {
    /* font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #292929;*/
    /* font-family: 'Poppins';
    font-style: normal;
    letter-spacing: 0.5px;*/
    text-transform: uppercase;  
    width: 224px;
    }
  
  
    .accordion_text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #292929;
  width: 100%;
    }

  
  @media (min-width: 768px) {
    .faq_title {    
      font-size: 108px;
      line-height: 124px;
    }

    .faq_title_container {
        width: 704px;
        margin-bottom: 60px;

    }

    .accordion_list{ 
        width: 656px;
    }

    .accordion_item.open {
        width: 100%;
    }

    .accordion_text {
        width: 100%;
    }

    .accordion_header_text {
        width: 600px;
    }
  }

  @media (min-width: 1280px) {
    .decor_bg {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 526px;
        height: 408px;
        background-image: url(../img/background/desktop-decor-bg-4.png);
        background-repeat: no-repeat;
        background-size: contain;
        z-index: -1;
    }

   .faq {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 80px 20px;
    position: relative;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    align-items: flex-start;
    gap: 98px;
    position: relative;
  }

  .faq_title_container {
    width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .accordion_list{ 
    width: 544px;
}

  .acc_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 276px;
  }
  }