.hero {
    background-image: url('../img/background/mobile-decor-bg-8.png');
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* padding-top: 96px 20px; */
    width: 100%;
    height: 968px;
}

.hero .container {}

.hero-title {
font-family: var(--font-family-impact);
    font-size: 64px;
    font-weight: normal;
    letter-spacing: 1.8px;
    line-height: 80px;
    color: var(--black);
    text-transform: uppercase;
    margin-top: 112px;
    /* text-align: center; */

}

.hero-title span {
    color: var(--accent-green);
    display: block;
}

.hero-link-wrapper {
    position: relative;
    width: max-content;
    margin-top: 40px;
}

.hero-link-bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100%;
    background-color: rgba(0, 195, 138, 0.2);
    border-radius: 20px;
    z-index: 1;
    
}

.hero-link {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 20px 40px;
    font-size: 16px;
font-weight: var(--medium);
    color: var(--black);
    text-decoration: none;
    z-index: 2;
}

.arrow {
    font-size: 20px;
    color: var(--accent-green);
}

.hero-description {
    font-family: var(--font-family-primary);
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 28px;
    color: var(--black);
    text-transform: uppercase;
    margin-top: 40px;
}

.hero-description span {
    color: var(--accent-green);
}

.hero-social-link {
    padding: 32px 0;
    background-color: var(--lightgrey);
    text-align: center;
}

.hero-social-link ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.hero-social-link ul li a {
    font-family: var(--font-family-primary);
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 24px;
    color: var(--black);
}














@media (min-width: 360px) and (max-width: 768px) {
    .hero {
        
            /* background-image: url('../img/background/mobile-decor-bg-8.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            padding-top: 96px 20px;
            width: 100%;
            height: 968px; */
        }
    
        .hero .container {}
    
        .hero-title {
        /* font-family: var(--font-family-impact);
        font-size: 64px;
        font-weight: normal;
        letter-spacing: 1.8px;
        line-height: 80px;
        color: var(--black);
        text-transform: uppercase; */
    
        }
    
        .hero-title span {
            color: #00B068;
            display: block;
        }
    
        .hero-link-wrapper {
            position: relative;
            width: max-content;
            
        }
    
        .hero-link-bg {
            position: absolute;
            top: 0;
            right: 0;
            width: 100px;
            height: 100%;
            background-color: rgba(0, 195, 138, 0.2);
            border-radius: 20px;
            z-index: 1;
        }
    
        .hero-link {
            position: relative;
            display: inline-flex;
            align-items: center;
            gap: 8px;
            padding: 20px 40px;
            font-size: 16px;
            font-weight: 500;
            color: #1f1f1f;
            text-decoration: none;
            z-index: 2;
        }
    
        .arrow {
            font-size: 20px;
            color: var(--accent-green);
        }
    
        .hero-description {
            font-size: 18px;
            width: 320px;
            height: 140px;
            width: 100%;
            line-height: 28px;
            text-align: justify;
            
            letter-spacing: 0.5px;
        }
    
        .hero-description span {
            color: var(--accent-green);
        }
    
        .hero-social-link {
             padding: 48px 0;
            margin-top: 72px;
        }

        .hero-social-link ul {
         gap: 32px;
        }

        .hero-social-link ul li a {
            /* font-size: 20px; */
        }
  }
