.swiper-slide {
  margin-top: 40px;
  display: flex !important;
  flex-direction: column;
  border-radius: 16px;
  padding: 32px;
  width: 320px;
  min-height: 296px;
  background-color: var(--lightgrey);
}
.theme-dark .swiper-slide {
  background-color: #2a2d32;
}
.swiper-slide p {
  flex-grow: 1;
}
.reviewer {
  margin-top: 24px;
  display: flex;
  align-items: center;
}
.reviewer-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 16px;
  background-color: var(--light-accent);
}
.reviewer-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: var(--font-color);
}
.navigation-buttons {
  display: flex;
  gap: 16px;
  margin-top: 24px;
  justify-content: flex-end;
}
.nav-button {
  border: 1px solid var(--black);
  border-radius: 8px;
  padding: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.nav-button:hover,
.nav-button:focus {
  background-color: var(--lightgrey);
}

.theme-dark .nav-button:hover,
.nav-button:focus {
  background-color: #2a2d32;
}

.nav-button.disabled {
  border-color: var(--lightgrey);
  pointer-events: none;
}

.icon-arrow {
  stroke: var(--black);
  fill: none;
}
.theme-dark .icon-arrow {
  stroke: #f0f0f0;
}
.nav-button.disabled > .icon-arrow {
  stroke: var(--lightgrey);
}
.theme-dark .nav-button.disabled > .icon-arrow {
  stroke: #2a2d32;
}

.theme-dark .disabled {
  border-color: #2a2d32;
}
@media only screen and (min-width: 768px) {
  .swiper-slide {
    margin-top: 60px;
    min-height: 248px;
  }
}

@media only screen and (min-width: 1280px) {
  .swiper-slide {
    margin-top: 80px;
  }
}
